body {
    background-color: #FCF8E8;

}

hr {
border-style: dotted none none;
border-color: #DF7861;
border-width: 10px;
width: 10%;}
 img {
   height: 300px;
 }

h1 {
    color: #DF7861;
}

h2 {
    color: #DF7861;
}

h3 {
    color: #DF7861;
}

h4 {
    color: #DF7861;
}

h5 {
    color: #DF7861;
}